/* -------------------------------------------------------------------------- 
	#. Shipping container inside Floating Cart
  -------------------------------------------------------------------------- */
#adfy__woofc-shipping-container {
    
    #adfy__woofc-hide-shipping-container {

        background: transparent;
        background-color: transparent;
    }

    #adfy__woofc-shipping-container-inner {

        display: block;
        margin: 0;
        padding: 0 0 60px 0;
        height: 100%;
        width: 100%;
        overflow-x: hidden;
        overflow-y: auto;

        #adfy__woofc-shipping-methods {

            @include flex();
            flex-direction: column;
            gap: 10px;
            list-style: none;
            position: relative;
            margin: 0 0 30px 0;
            padding: 20px;
            border-radius: 5px;
            border: 2px dashed var(--adfy_woofc_border_color);

            li {

                @include flex();
                align-items: center;
                gap: 10px;
                margin: 0;
                padding: 0;
            }
        }

        .adfy__woo-shipping-destination {

            margin: 20px 0;
        }
    }
}