/* -------------------------------------------------------------------------- 
	#. Forms in shipping container
  -------------------------------------------------------------------------- */

#adfy__woofc-shipping-container {

    #adfy__woofc-shipping-form {

        @include flex();
        flex-direction: column;
        gap: 15px;
        padding: 20px;
        margin: 30px 0;
        border-radius: 5px;
        border: 2px dashed var(--adfy_woofc_border_color);

        .adfy__woofc-shipping-form-elements {

            @include flex();
            flex-direction: column;
            gap: 15px;
        }

        label {

            display: block;
            font-weight: normal;
            font-size: var(--adfy_woofc_base_text_font_size);
            margin: 0 0 8px 0;
        }

        input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */

            color: var(--adfy_woofc_cart_input_placeholder_color);
            opacity: 1; /* Firefox */
            font-size: 13px; // Fallback
            font-size: calc( var(--adfy_woofc_base_text_font_size) - 15% );
            font-weight: normal;
            letter-spacing: 0.50px;
        }

        input:-ms-input-placeholder { /* Internet Explorer 10-11 */

            color: var(--adfy_woofc_cart_input_placeholder_color);
            font-size: 13px; // Fallback
            font-size: calc( var(--adfy_woofc_base_text_font_size) - 15% );
            font-weight: normal;
            letter-spacing: 0.50px;
        }

        input::-ms-input-placeholder { /* Microsoft Edge */

            color: var(--adfy_woofc_cart_input_placeholder_color);
            font-size: 13px; // Fallback
            font-size: calc( var(--adfy_woofc_base_text_font_size) - 15% );
            font-weight: normal;
            letter-spacing: 0.50px;
        }

        input.input_text,
        input[type="text"] {

            @include flex();
            align-items: center;
            width: 100%;
            max-width: 100%;
            font-size: 15px;
            font-weight: normal;
            line-height: 21px;
            color: var(--adfy_woofc_cart_input_text_color);
            padding: 14px 15px;
            height: 48px;
            border-width: 1px;
            border-style: solid;
            border-color: var(--adfy_woofc_cart_input_border_color);
            background: var(--adfy_woofc_cart_input_background_color);
            box-shadow: none;
            box-sizing: border-box;
            border-radius: 3px;
            -webkit-box-shadow: inset 1px 1px 3px transparent;
            -moz-box-shadow: inset 1px 1px 3px transparent;
            box-shadow: inset 1px 1px 3px transparent;
            @include transation_delay();

            &:focus {

                outline: none;
                border-color: #3DA6FF;
                -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
            }
        }

        select {

            @include flex();
            align-items: center;
            width: 100%;
            max-width: 100%;
            font-size: 15px;
            font-weight: normal;
            line-height: 21px;
            color: var(--adfy_woofc_cart_input_text_color);
            padding: 14px 15px;
            height: 48px;
            border-width: 1px;
            border-style: solid;
            border-color: var(--adfy_woofc_cart_input_border_color);
            background-color: var(--adfy_woofc_cart_input_background_color);
            box-shadow: none;
            box-sizing: border-box;
            border-radius: 3px;
            -webkit-box-shadow: inset 1px 1px 3px transparent;
            -moz-box-shadow: inset 1px 1px 3px transparent;
            box-shadow: inset 1px 1px 3px transparent;

            &:focus {

                outline: none;
                border-color: #3DA6FF;
                -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
            }
        }

        .select2.select2-container {
            width: 100%;
        }

        .addonify_floating_cart-button {

            width: 100%;
            align-items: center;
            justify-content: center;
            margin-top: 15px;
        }
    }
}

.afc-selectWoo-dropdown {
    z-index: 99999999;
}