#adfy__floating-cart {

     #adfy__woofc-cart-errors {

            @include flex();
            gap: 5px;
            margin-bottom: 30px;

            &.hidden {

                display: none;
            }

            #adfy__woofc_restore_item {

                display: inline-flex;
                cursor: pointer;
            }
        }
}