
/* -------------------------------------------------------------------------- 
	#. General button
  -------------------------------------------------------------------------- */

.adfy__woofc-button {

    display: inline-flex;
    gap: 5px;
    align-items: center;
    font-size: 15px;
    letter-spacing: 0;
    font-weight: normal;
    line-height: 1;
    fill: white;
    color: white;
    border: none;
    padding: 15px 25px;
    border-radius: 3px;
    box-shadow: none;
    text-decoration: none;
    background: transparent;
    appearance: button;
    background-color: var(--adfy_woofc_primary_color); 
    @include transation_delay();

    &:hover {

        fill: white;
        color: white;
        border: none;
        box-shadow: none;
        text-decoration: none;
        background: transparent; 
        background-color: var(--adfy_woofc_secondary_color);
    }

    &:focus {

        outline: 0;
        box-shadow: none;
        text-decoration: none;
    }
}

.adfy__woofc-button.continue-shopping {

    fill: #878787;
    color: #878787;
    background-color: #CFCFCF;
}


/* -------------------------------------------------------------------------- 
	#. Fake button
  -------------------------------------------------------------------------- */

.adfy__woofc-fake-button {

    display: inline-flex;
    fill: currentColor;
    color: currentColor;
    cursor: pointer;
    width: auto;
    height: auto;
    padding: 0;
    margin: 0;
    font-size: 15px;
    font-weight: normal;
    line-height: 1;
    border: none;
    background: transparent;
    background-color: transparent;
    text-decoration: none;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    @include transation_delay();

    &:hover {

        fill: currentColor;
        color: currentColor;
        background: transparent;
        background-color: transparent;
        text-decoration: none;
        box-shadow: none;
        border: none;
    }

    &:focus {

        outline: 0;
        text-decoration: none;
        box-shadow: none;
        border: none;
    }
}


/* -------------------------------------------------------------------------- 
	#. Notfy button
  -------------------------------------------------------------------------- */

.notyf {

	color: var(--adfy_woofc_toast_text_color);

    .notyf__toast {

		&[class*="adfy__woofc-notfy"] {

			box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);

			.notyf__wrapper {

				.notyf__icon {

					.notyf__icon--error,
					.notyf__icon--success {

						background: var(--adfy_woofc_toast_text_color);
					}
				}

				.notyf__message {

					font-size: 15px;
					font-weight: normal;
					line-height: 1.4;
					color: var(--adfy_woofc_toast_text_color);

					.adfy__woofc-notfy-button {

						display: inline-flex;
						align-items: center;
						font-size: 13px;
						padding: 5px 10px 6px 10px;
						border-radius: 30px;
						color: var(--adfy_woofc_toast_button_text_color);
						background-color: var(--adfy_woofc_toast_button_background_color);

						&:hover {

							color: var(--adfy_woofc_toast_button_text_color_hover);
							background-color: var(--adfy_woofc_toast_button_background_color_hover);
						}
					}
				}
			}
		}

		.notyf__ripple {

			background: var(--adfy_woofc_toast_background_color) !important;
		}
    }
}

/* -------------------------------------------------------------------------- 
	#. Floating Cart Button
  -------------------------------------------------------------------------- */

#adfy__woofc-trigger {

    position: fixed;
    @include flex();
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    left: auto;
    right: 100px;
    bottom: 100px;
    border-width: 1px;
	border-style: solid;
	border-color: var(--adfy_woofc_toggle_button_border_color);
    z-index: var(--adfy_woofc_trigger_button_zindex);
    fill: var(--adfy_woofc_toggle_button_text_color);
    color: var(--adfy_woofc_toggle_button_text_color);
    cursor: pointer;
    background-color: var(--adfy_woofc_toggle_button_background_color);
    border-radius: 0;
    line-height: 1;
    font-weight: normal;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
    @include transation_delay();

    .icon {

        svg {

            height: 20px;
            width: 20px;
        }
    }

    .badge {

        display: inline-flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: -15px;
        top: -10px;
        height: 23px;
        width: 23px;
        font-size: 13px;
        font-weight: normal;
        line-height: 1;
        color: var(--adfy_woofc_toggle_button_badge_text_color);
        border-radius: 3px;
        background-color: var(--adfy_woofc_toggle_button_badge_background_color);
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
    }

    &:hover {

        fill: var(--adfy_woofc_toggle_button_text_color_hover);
        color: var(--adfy_woofc_toggle_button_text_color_hover);
		border-color: var(--adfy_woofc_toggle_button_border_color_hover);
        background-color: var(--adfy_woofc_toggle_button_background_color_hover);
        box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.1);

		.badge {

			color: var(--adfy_woofc_toggle_button_badge_text_color_hover);
			background-color: var(--adfy_woofc_toggle_button_badge_background_color_hover);
		}
    }

    &:focus {

        outline: none;
    }
}

#adfy__woofc-trigger[data_style="round"] {

    border-radius: 100%;

    .badge {

        top: -5px;
        left: -10px;
        border-radius: 100%;
    }
}

#adfy__woofc-trigger[data_style="rounded"] {

    border-radius: 5px;

    .badge {

        top: -5px;
        left: -10px;
    }
}

#adfy__woofc-trigger[data_label="false"] {

    .label {

        display: none;
    }
}

#adfy__woofc-trigger[data_icon="false"] {

    .icon {

        display: none;
    }
}
