
/* -------------------------------------------------------------------------- 
	#. General button
  -------------------------------------------------------------------------- */

.adfy__woofc-button,
a.adfy__woofc-button,
button.adfy__woofc-button,
input.adfy__woofc-button[type="submit"],
button.adfy__woofc-button[type="submit"] {

    display: inline-flex;
    gap: 5px;
    align-items: center;
    font-size: var(--adfy_woofc_base_button_font_size);
    letter-spacing: var(--adfy_woofc_base_button_letter_spacing);
    font-weight: var(--adfy_woofc_base_button_font_weight);
    line-height: 1;
    fill: var(--adfy_woofc_primary_button_label_color);
    color: var(--adfy_woofc_primary_button_label_color);
    border-width: 1px;
    border-style: solid;
    border-color: var(--adfy_woofc_primary_button_border_color);
    padding: 15px 25px;
    border-radius: var(--adfy_woofc_base_button_border_radius);
    box-shadow: none;
    text-decoration: none;
    background: transparent;
    appearance: button;
    text-transform: var(--adfy_woofc_base_button_text_transform);
    background-color: var(--adfy_woofc_primary_button_background_color); 
    @include transation_delay();

    &:hover {

        fill: var(--adfy_woofc_primary_button_label_color_hover);
        color: var(--adfy_woofc_primary_button_label_color_hover);
        border-color: var(--adfy_woofc_primary_button_border_color_hover);
        box-shadow: none;
        text-decoration: none;
        background: transparent; 
        background-color: var(--adfy_woofc_primary_button_background_color_hover);
    }

    &:focus {

        outline: 0;
        box-shadow: none;
        text-decoration: none;
    }
}

.adfy__woofc-button.close,
.adfy__woofc-button.secondary,
a.adfy__woofc-button.secondary,
.adfy__woofc-button.continue-shopping {

    fill: var(--adfy_woofc_secondary_button_label_color);
    color: var(--adfy_woofc_secondary_button_label_color);
    border-color: var(--adfy_woofc_secondary_button_border_color);
    background-color: var(--adfy_woofc_secondary_button_background_color);

    &:hover {

        fill: var(--adfy_woofc_secondary_button_label_color_hover);
        color: var(--adfy_woofc_secondary_button_label_color_hover);
        border-color: var(--adfy_woofc_secondary_button_border_color_hover);
        background-color: var(--adfy_woofc_secondary_button_background_color_hover);
    }
}


/* -------------------------------------------------------------------------- 
	#. Fake button
  -------------------------------------------------------------------------- */

.adfy__woofc-fake-button {

    display: inline-flex;
    fill: currentColor;
    color: currentColor;
    cursor: pointer;
    width: auto;
    height: auto;
    padding: 0;
    margin: 0;
    font-size: 15px;
    font-weight: normal;
    line-height: 1;
    border: none;
    background: transparent;
    background-color: transparent;
    text-decoration: none;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    @include transation_delay();

    &:hover {

        fill: currentColor;
        color: currentColor;
        background: transparent;
        background-color: transparent;
        text-decoration: none;
        box-shadow: none;
        border: none;
    }

    &:focus {

        outline: 0;
        text-decoration: none;
        box-shadow: none;
        border: none;
    }
}


/* -------------------------------------------------------------------------- 
	#. Notfy button
  -------------------------------------------------------------------------- */

.notyf {

	color: var(--adfy_woofc_toast_text_color);

    .notyf__toast {

		&[class*="adfy__woofc-notfy"] {

			box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);

			.notyf__wrapper {

				.notyf__icon {

					.notyf__icon--error,
					.notyf__icon--success {

                        color: var(--adfy_woofc_toast_icon_color) !important;
						background: var(--adfy_woofc_toast_icon_background_color);
					}
				}

				.notyf__message {

					font-size: 15px;
					font-weight: normal;
					line-height: 1.4;
					color: var(--adfy_woofc_toast_text_color);

					.adfy__woofc-notfy-button {

						display: inline-flex;
						align-items: center;
						font-size: 13px;
                        text-transform: inherit;
                        letter-spacing: inherit;
						padding: 5px 10px 6px 10px;
						border-radius: 3px;
						color: var(--adfy_woofc_toast_button_text_color);
						background-color: var(--adfy_woofc_toast_button_background_color);

						&:hover {

							color: var(--adfy_woofc_toast_button_text_color_hover);
							background-color: var(--adfy_woofc_toast_button_background_color_hover);
						}
					}
				}
			}
		}

		.notyf__ripple {

			background: var(--adfy_woofc_toast_background_color) !important;
		}
    }
}

/* -------------------------------------------------------------------------- 
	#. Floating Cart Button
  -------------------------------------------------------------------------- */

#adfy__woofc-trigger {

    position: fixed;
    @include flex();
    align-items: center;
    justify-content: center;
    width: var(--adfy_woofc_toggle_button_size);
    height: var(--adfy_woofc_toggle_button_size);
    left: auto;
    right: var(--adfy_woofc_toggle_button_horizental_offset);
    bottom: var(--adfy_woofc_toggle_button_vertical_offset);
    border-width: 1px;
	border-style: solid;
	border-color: var(--adfy_woofc_toggle_button_border_color);
    z-index: var(--adfy_woofc_trigger_button_zindex);
    fill: var(--adfy_woofc_toggle_button_text_color);
    color: var(--adfy_woofc_toggle_button_text_color);
    cursor: pointer;
    background-color: var(--adfy_woofc_toggle_button_background_color);
    border-radius: var(--adfy_woofc_toggle_button_border_radius);
    line-height: 1;
    font-weight: normal;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
    @include transation_delay();

    .icon {

        svg {

            height: var(--adfy_woofc_toggle_button_cart_icon_font_size);
            width: var(--adfy_woofc_toggle_button_cart_icon_font_size);
        }
    }

    .badge {

        display: inline-flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: -5px;
        right: auto;
        bottom: auto;
        left: -10px;
        height: 23px;
        width: 23px;
        font-size: 13px;
        font-weight: normal;
        line-height: 1;
        color: var(--adfy_woofc_toggle_button_badge_text_color);
        border-radius: 3px;
        background-color: var(--adfy_woofc_toggle_button_badge_background_color);
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);

        &.top-left {

            top: -5px;
            right: auto;
            bottom: auto;
            left: -10px;
        }

        &.top-right {

            top: -5px;
            right: -10px;
            bottom: auto;
            left: auto;
        }

        &.bottom-left {

            bottom: -5px;
            right: auto;
            top: auto;
            left: -10px;
        }

        &.bottom-right {

            bottom: -5px;
            right: -10px;
            top: auto;
            left: auto;            
        }
    }

    &:hover {

        fill: var(--adfy_woofc_toggle_button_text_color_hover);
        color: var(--adfy_woofc_toggle_button_text_color_hover);
		border-color: var(--adfy_woofc_toggle_button_border_color_hover);
        background-color: var(--adfy_woofc_toggle_button_background_color_hover);
        box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.1);

		.badge {

			color: var(--adfy_woofc_toggle_button_badge_text_color_hover);
			background-color: var(--adfy_woofc_toggle_button_badge_background_color_hover);
		}
    }

    &:focus {

        outline: none;
    }

    &.top-right {

        bottom: auto;
        left: auto;
        right: var(--adfy_woofc_toggle_button_horizental_offset);
        top: var(--adfy_woofc_toggle_button_vertical_offset);
    }

    &.top-left {

        bottom: auto;
        right: auto;
        top: var(--adfy_woofc_toggle_button_vertical_offset);
        left: var(--adfy_woofc_toggle_button_horizental_offset);
    }

    &.bottom-left {

        top: auto;
        right: auto;
        bottom: var(--adfy_woofc_toggle_button_vertical_offset);
        left: var(--adfy_woofc_toggle_button_horizental_offset);
    }
}

/* -------------------------------------------------------------------------- 
	#. Close Buttons (Coupon & shipping model close buttons)
  -------------------------------------------------------------------------- */

#adfy__woofc-hide-coupon-container,
#adfy__woofc-hide-shipping-container {

    display: inline-flex;
    font-size: calc( var(--adfy_woofc_base_text_font_size) - 10% );
    line-height: 1;
    font-weight: normal;
    gap: 10px;
    align-items: center;
    fill: var(--adfy_woofc_base_text_color);
    color: var(--adfy_woofc_base_text_color);

    svg {

        width: 20px;
        height: 20px;
    }

    &:hover {

        fill: var(--adfy_woofc_base_link_color_hover);
        color: var(--adfy_woofc_base_link_color_hover);
    }
}
