
/* -------------------------------------------------------------------------- 
	#. General button
  -------------------------------------------------------------------------- */

.adfy__woofc-button {

    display: inline-flex;
    gap: 5px;
    align-items: center;
    font-size: 15px;
    font-weight: normal;
    line-height: 1;
    fill: white;
    color: white;
    padding: 15px 25px;
    border-radius: 3px;
    text-decoration: none;
    background: #0072FF; 
    background: -webkit-linear-gradient(to left, #0072FF, #00a1ff);
    background: linear-gradient(to left, #0072FF, #00a1ff);
    @include transation_delay();

    &:hover {

        fill: white;
        color: white;
        text-decoration: none;
        background: #00A1FF; 
        background: -webkit-linear-gradient(to left, #00A1FF, #0072FF);
        background: linear-gradient(to left, #00A1FF, #0072FF);
    }

    &:focus {

        outline: 0;
        text-decoration: none;
    }
}

.adfy__woofc-button.continue-shopping {

    fill: #878787;
    color: #878787;
    background-color: #CFCFCF;
}


/* -------------------------------------------------------------------------- 
	#. Fake button
  -------------------------------------------------------------------------- */

.adfy__woofc-fake-button {

    display: inline-flex;
    fill: currentColor;
    color: currentColor;
    cursor: pointer;
    width: auto;
    height: auto;
    padding: 0;
    margin: 0;
    font-size: 15px;
    font-weight: normal;
    line-height: 1;
    border: none;
    background: transparent;
    background-color: transparent;
    text-decoration: none;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    @include transation_delay();

    &:hover {

        fill: currentColor;
        color: currentColor;
        background: transparent;
        background-color: transparent;
        text-decoration: none;
        box-shadow: none;
        border: none;
    }

    &:focus {

        outline: 0;
        text-decoration: none;
        box-shadow: none;
        border: none;
    }
}

/* -------------------------------------------------------------------------- 
	#. Floating Cart Button
  -------------------------------------------------------------------------- */

#adfy__woofc-trigger {

    position: fixed;
    @include flex();
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    left: auto;
    right: 100px;
    bottom: 100px;
    z-index: var(--adfy_woofc_trigger_button_zindex);
    fill: #555555;
    color: #555555;
    cursor: pointer;
    background-color: white;
    border-radius: 0;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
    @include transation_delay();

    .icon {

        svg {

        height: 20px;
        width: 20px;
        }
    }

    .badge {

        display: inline-flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: -15px;
        top: -10px;
        height: 23px;
        width: 23px;
        font-size: 13px;
        font-weight: normal;
        line-height: 1;
        color: white;
        border-radius: 3px;
        background-color: var(--adfy_woofc_primary_color);
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
    }

    &:hover {

        fill: #898989;
        color: #898989;
        background-color: #DDD;
        box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.1);
    }

    &:focus {

        outline: none;
    }
}

#adfy__woofc-trigger[data_style="round"] {

    border-radius: 100%;

    .badge {

        top: -5px;
        left: -10px;
        border-radius: 100%;
    }
}

#adfy__woofc-trigger[data_style="rounded"] {

    border-radius: 5px;

    .badge {

        top: -5px;
        left: -10px;
    }
}

#adfy__woofc-trigger[data_label="false"] {

    .label {

        display: none;
    }
}

#adfy__woofc-trigger[data_icon="false"] {

    .icon {

        display: none;
    }
}
