/* -------------------------------------------------------------------------- 
	#. Floating Cart
  -------------------------------------------------------------------------- */

#adfy__floating-cart * {

    box-sizing: border-box;
    @include better_font_rendering();
}

#adfy__floating-cart {

    display: block;
    position: fixed;
    color: #444444;
    background: white;
    box-sizing: border-box;
    background-color: white;
    transition: all 0.6s ease-in-out;

    .adfy_woofc-inner {

        @include flex();
        flex-direction: column;
        height: 100%;
        width: 100%;
        position: relative;
        padding: 30px;

        @include breakpoint(mobile) {

            padding: 20px;
        }

        .adfy__woofc-header {

            @include grid();
            grid-template-columns: auto 30px;
            column-gap: 20px;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 20px;
            padding-bottom: 15px;
            border-bottom: 1px solid var(--adfy_woofc_border_color);

            .adfy__woofc-title {
                
                @include flex();
                gap: 8px;
                align-items: center;
                font-size: 20px;
                margin: 0;
                padding: 0;
                color: #444444;

                .adfy__woofc-badge {

                    align-items: center;
                    color: var(--adfy_woofc_badge_color);
                    padding: 7px 10px 8px 10px;
                    font-size: 11px;
                    line-height: 1;
                    font-weight: normal;
                    border-radius: 15px;
                    background-color: var(--adfy_woofc_badge_background_color);
                }
            }

            .adfy__close-button {

                display: inline-flex;
                align-items: center;
                justify-content: center;

                .adfy__hide-woofc {
                    
                    display: inline-flex;
                    width: 30px;
                    height: 30px;
                    padding: 0;
                    margin: 0;
                    line-height: 1;
                    font-weight: normal;
                    fill: #C7C7C7;
                    color: #C7C7C7;
                    border: none;
                    border-radius: 100%;
                    background-color: transparent;

                    svg {

                        width: 22px;
                        height: 22px;
                    }

                    &:hover {

                        fill: #888888;
                        color: #888888;
                        border: none;
                        background-color: transparent;
                    }
                }
            }
        }

        .adfy__woofc-shipping-bar {

            @include flex();
            flex-direction: column;
            margin-bottom: 20px;

            .adfy__woofc-shipping-text {

                font-size: 15px;
                padding: 0;
                margin: 0 0 10px 0;
                font-weight: normal;

                .amount {

                    font-weight: bold;
                }
            }

            .progress-bars {

                position: relative;

                .shipping-bar {

                    position: relative;
                    display: block;
                    height: 8px;
                    width: 100%;
                    border-radius: 10px;
                    background-color: #EEEEEE;
                    @include breakpoint(mobile) {

                        height: 5px;
                    }
                }

                .progress-bar {

                    position: absolute;
                    left: 0;
                    top: 0;
                    right: auto;
                    z-index: 2;
                    background: #0072ff; 
                    background: -webkit-linear-gradient(to left, #0072ff, #00a1ff);
                    background: linear-gradient(to left, #0072ff, #00a1ff);
                    transition: all 1s cubic-bezier(0.4, 0, 1, 1);
                }
            }
        }

        .adfy__woofc-content {

            position: relative;
            flex: 1 1 auto;
            @include flex();
            flex-direction: column;
            overflow-y: auto;
            overflow-x: hidden;

            .adfy__woofc-content-entry {
                
                display: block;
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                z-index: 5;
                padding: 10px 0;

                .adfy__woofc-item {

                    @include grid();
                    grid-template-columns: 100px auto;
                    column-gap: 30px;
                    margin-bottom: 30px;
                    @include breakpoint(mobile) {

                        column-gap: 25px;
                        margin-bottom: 20px;
                    }

                    .thumb {

                        position: relative;
                        width: 100%;
                        margin: 0;
                        padding: 0;
                        border: none;
                        box-shadow: none;
                        max-width: 100%;

                        .adfy__woofc-link {

                            display: block;

                            > img {

                                position: relative;
                                display: block;
                                max-width: 100%;
                                border-radius: 5px;
                                border: 1px solid var(--adfy_woofc_border_color);
                                background-color: var(--adfy_woofc_border_color);
                            }
                        }

                        .adfy__woofc-remove-cart-item {

                            position: absolute;
                            right: -10px;
                            top: -10px;
                            z-index: 1;
                            display: inline-flex;
                            justify-content: center;
                            align-items: center;
                            border: none;
                            margin: 0;
                            padding: 0;
                            height: 26px;
                            width: 26px;
                            color: #878787;
                            border-radius: 100%;
                            text-decoration: none;
                            background-color: #E9E9E9;
                            @include breakpoint(mobile) {

                                height: 24px;
                                width: 24px;
                            }

                            svg {

                                width: 14px;
                                height: 14px;
                            }
                        }
                    }

                    .adfy__woofc-item-content {

                        .adfy__woofc-item-title {

                            .woocommerce-loop-product__title {

                                display: block;
                                font-size: 15px;
                                line-height: 1.3;
                                font-weight: normal;
                                color: #444444;
                                padding: 0;
                                margin: 0 0 10px 0;
                                @include breakpoint(mobile) {

                                    margin-bottom: 5px;
                                }

                                .adfy__woofc-link {

                                    color: #444444;
                                }
                            }
                        }

                        .adfy__woofc-item-price {

                            margin-bottom: 10px;

                            .quantity {

                                display: inline-flex;
                                gap: 2px;
                                align-items: center;
                                width: auto;
                                color: #444444;
                                font-size: 14px;
                                font-weight: bold;
                                height: auto;
                                border: none;
                                padding: 0;
                                margin: 0;
                            }
                        }

                        .adfy__woofc-quantity {

                            display: block;

                            .adfy__woofc-quantity-form {

                                @include flex();
                                align-items: center;
                                justify-content: center;
                                margin: 0;
                                padding: 0;
                                width: 95px;
                                padding: 2px 10px;
                                border: 1px solid var(--adfy_woofc_border_color);
                                border-radius: 4px;

                                // Chrome, Safari, Edge & Opera
                                input::-webkit-outer-spin-button,
                                input::-webkit-inner-spin-button {

                                    margin: 0;
                                    -webkit-appearance: none;
                                }

                                // Firefox
                                input[type=number] {
                                    
                                    -moz-appearance: textfield;
                                }

                                .adfy__woofc-quantity-input-field {

                                    display: inline-flex;
                                    justify-content: center;
                                    align-items: center;
                                    text-align: center;
                                    width: 30px;
                                    max-width: 50px;
                                    height: 30px;
                                    min-height: 1px;
                                    padding: 0;
                                    margin: 0;
                                    border: none;
                                    outline: none;
                                    color: #444444;
                                    font-size: 12px;
                                    font-weight: normal;
                                    will-change: width;
                                    box-shadow: none;
                                    border-radius: 3px;
                                    background: transparent;
                                    background-color: transparent;
                                    -webkit-appearance: none;
                                    -moz-appearance: none;
                                    @include transation_delay();

                                    &:focus {

                                        outline: 0;
                                    }
                                }

                                .adfy__woofc-quantity-input-button {

                                    display: inline-flex;
                                    justify-content: center;
                                    align-items: center;
                                    font-size: 16px;
                                    padding: 0;
                                    margin: 0;
                                    font-weight: normal;
                                    line-height: 1;
                                    height: 20px;
                                    width: 20px;
                                    fill: #444444;
                                    color: #444444;
                                    border-radius: 30px;
                                    text-decoration: none;
                                    background-color: transparent;

                                    svg {

                                        height: 14px;
                                        height: 14px;
                                    }

                                    &:hover {

                                        text-decoration: none;
                                    }

                                    &:focus {

                                        outline: none;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .adfy__woofc-colophon {

            margin-top: 0;
            padding-top: 20px;

            .adfy__woofc-coupon {

                @include flex();
                justify-content: center;
                margin-bottom: 20px;

                .coupon-text {

                    @include flex();
                    gap: 5px;
                    align-items: center;
                    margin: 0;
                    padding: 0;
                    font-weight: normal;

                    .icon {

                        fill: #444444;
                        line-height: 1;

                        svg {

                            width: 18px;
                            height: 18px;
                        }
                    }
                }
            }

            .adfy__woofc-cart-summary {

                display: block;
                margin-bottom: 20px;
                
                ul {

                    @include flex();
                    flex-direction: column;
                    align-items: center;
                    list-style: none;
                    padding: 10px 15px;
                    margin: 0;
                    gap: 10px;
                    border: 1px solid var(--adfy_woofc_border_color);
                    border-radius: 5px;

                    li {

                        @include flex();
                        flex-direction: row;
                        justify-content: space-between;
                        width: 100%;
                        
                        .label,
                        .value {

                            color: #444444;
                            font-size: 15px;
                            font-weight: normal;
                        }
                    }

                    li:not(:last-child) {

                        border-bottom: 1px dotted var(--adfy_woofc_border_color);
                        padding-bottom: 10px;
                    }

                    li.discount {

                        .value {

                            font-weight: bold;
                        }
                    }

                    li.total {

                        .value {

                            font-weight: bold;
                        }
                    }
                }
            }

            .adfy__woofc-actions {

                @include grid();
                grid-template-columns: repeat(2, 1fr);
                column-gap: 20px;

                .adfy__woofc-button {

                    display: inline-flex;
                    color: white;
                    align-items: center;
                    justify-content: center;
                    padding: 20px 15px;
                    height: auto;
                    border-radius: 4px;
                    width: 100%;
                    background-color: var(--adfy_woofc_primary_color);

                    @include breakpoint(mobile) {

                        padding: 15px 10px;
                    }

                    &:hover {

                        color: white;
                        background-color: var(--adfy_woofc_secondary_color);
                    }
                }

                .close {

                    fill: #9D9D9D;
                    color: #9D9D9D;
                    background: #D5D5D5;
                }
            }
        }
    }    
}

#adfy__floating-cart[data_type="drawer"] {

    top: 0;
    bottom: 0;
    height: 100%;
    min-height: 100vh;
    width: 500px;
    @include visibility_visible();
    @include breakpoint (mobile) {

        width: 93vw;
    }
}

/* -------------------------------------------------------------------------- 
	#. Position
  -------------------------------------------------------------------------- */

#adfy__floating-cart[data_type="modal"] {

    z-index: var(--adfy_woo_floating_cart_zindex);
}

#adfy__floating-cart[data_type="drawer"][data_position="left"] {

    right: auto;
    left: -100vw;
}

#adfy__floating-cart[data_type="drawer"][data_position="right"] {

    left: auto;
    right: -100vw;
}

/* -------------------------------------------------------------------------- 
	#. Visiblity
  -------------------------------------------------------------------------- */

.adfy__woofc-visible #adfy__floating-cart {

    z-index: var(--adfy_woo_floating_cart_zindex);
    box-shadow: 10px 0px 30px rgba(0, 0, 0, 0.2);
}

.adfy__woofc-visible #adfy__floating-cart[data_type="drawer"][data_position="left"] {

    right: auto;
    left: 0;
    animation: adfyFloatingCartSlideToRight 0.6s ease;
}

.adfy__woofc-visible #adfy__floating-cart[data_type="drawer"][data_position="right"] {

    left: auto;
    right: 0;
    animation: adfyFloatingCartSlideToLeft 0.6s ease;
}

