/* -------------------------------------------------------------------------- 
	#. Coupon container inside Floating Cart
  -------------------------------------------------------------------------- */

#adfy__woofc-coupon-container {

    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: 0;
    padding: 30px;
    width: 100%;
    height: 100%;
    z-index: calc(var(--adfy_woo_floating_cart_zindex) - 1);
    background-color: white;
    @include visibility_hidden();
    @include transation_delay();

    &[data_display="visible"] {

        @include visibility_visible();
        z-index: calc( var(--adfy_woo_floating_cart_zindex) + 10);

        #adfy__woofc-coupon-form {

            animation: adfyFloatingCartFadeDown 0.5s ease-in;
        }
    }

    .coupon-container-header {

        @include flex();
        padding-bottom: 15px;
        margin-bottom: 30px;
        border-bottom: 1px solid var(--adfy_woofc_border_color);
        @include breakpoint(medium) {

            justify-content: flex-end;
        }

        #adfy__woofc-hide-coupon-container {

            display: inline-flex;
            font-size: 14px;
            line-height: 1;
            font-weight: normal;
            gap: 10px;
            align-items: center;
            fill: #444444;
            color: #444444;

            svg {

                width: 20px;
                height: 20px;
            }
        }
    }

    #adfy__woofc-coupon-form {

        @include flex();
        flex-direction: column;
        padding: 0;
        margin: 0;

        .adfy__woofc-coupon-inputs {

            padding: 20px;
            border-radius: 5px;
            border: 2px dashed var(--adfy_woofc_border_color);

            label {

                display: block;
                font-weight: normal;
                font-size: 15px;
                margin: 0 0 8px 0;
            }

            input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */

                color: var(--adfy_woofc_cart_input_placeholder_color);
                opacity: 1; /* Firefox */
                font-size: 13px;
                font-weight: normal;
                letter-spacing: 0.50px;
            }

            input:-ms-input-placeholder { /* Internet Explorer 10-11 */

                color: var(--adfy_woofc_cart_input_placeholder_color);
                font-size: 13px;
                font-weight: normal;
                letter-spacing: 0.50px;
            }

            input::-ms-input-placeholder { /* Microsoft Edge */

                color: var(--adfy_woofc_cart_input_placeholder_color);
                font-size: 13px;
                font-weight: normal;
                letter-spacing: 0.50px;
            }

            input[type="text"] {

                @include flex();
                align-items: center;
                width: 100%;
                max-width: 100%;
                font-size: 15px;
                font-weight: normal;
                line-height: 21px;
                color: var(--adfy_woofc_cart_input_text_color);
                padding: 14px 15px;
                height: 48px;
                border-width: 1px;
                border-style: solid;
                border-color: var(--adfy_woofc_border_color);
                background: var(--adfy_woofc_cart_input_background_color);
                box-shadow: none;
                box-sizing: border-box;
                border-radius: 3px;
                -webkit-box-shadow: inset 1px 1px 3px transparent;
                -moz-box-shadow: inset 1px 1px 3px transparent;
                box-shadow: inset 1px 1px 3px transparent;
                @include transation_delay();

                &:focus {

                    outline: none;
                    border-color: #3da6ff;
                    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
                    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
                }
            }

            .adfy__woofc-button {

                width: 100%;
                align-items: center;
                justify-content: center;
                margin-top: 15px;
            }
        }
    }

    #adfy__woofc-applied-coupons {

        position: relative;
        padding: 20px;
        border-radius: 5px;
        border: 2px dashed var(--adfy_woofc_border_color);
        margin-top: 40px;

        &.hidden {

            display: none;
        }

        .title {

            position: absolute;
            display: inline-flex;
            align-items: center;
            gap: 10px;
            top: -15px;
            right: auto;
            left: 15px;
            font-size: 15px;
            line-height: 1.4;
            font-weight: 400;
            padding: 5px 10px;
            background-color: white;
            z-index: 1;

            svg {

                width: 18px;
                height: 18px;
            }
        }

        ul {

            @include flex();
            flex-direction: column;
            gap: 15px;
            list-style: none;
            margin: 10px 0 0 0;
            padding: 0;

            li {

                position: relative;
                width: 100%;
                @include grid();
                grid-template-columns: auto 50px;
                column-gap: 20px;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                margin: 0;
                padding: 10px 15px;
                border-radius: 4px;
                border: 1px solid var(--adfy_woofc_border_color);

                input[type="text"] {

                    @include flex();
                    align-items: center;
                    width: 100%;
                    max-width: 100%;
                    font-size: 15px;
                    font-weight: normal;
                    line-height: 1.4;
                    color: #444444;
                    padding: 0;
                    height: auto;
                    min-height: 1px;
                    border-width: 0;
                    border-style: solid;
                    border-color: transparent;
                    background: white;
                    box-shadow: none;
                    box-sizing: border-box;
                    border-radius: 0;
                    box-shadow: none;
                    cursor: default;
                    @include transation_delay_none();

                    &:focus {

                        outline: none;
                        box-shadow: none;
                    }

                    &:hover {

                        box-shadow: none;
                        text-decoration: none;
                    }
                }
            }
        }

        .adfy__woofc-remove-applied-coupon-button {

            position: relative;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            margin: 0;
            padding: 0;
            width: 50px;
            height: 30px;
            border-radius: 3px;

            svg {

                height: 18px;
                width: 18px;
            }
        }
    }
}