/* -------------------------------------------------------------------------- 
	#. Floating Cart Mask
  -------------------------------------------------------------------------- */

#adfy__woofc-overlay {

    display: block;
    position: fixed;
	z-index: 0;
    left: auto;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
	height: 100%;
    cursor: pointer;
    background: linear-gradient(to right, var(--adfy_woofc_cart_overlay_background_color));
	transition: all 0.5s ease;
    backdrop-filter: blur(10px);
	@include visibility_hidden();
}

.adfy__woofc-visible #adfy__woofc-overlay {

	z-index: var(--adfy_woofc_overlaymask_zindex);
	@include visibility_visible();
}