/* -------------------------------------------------------------------------- 
	Header
  -------------------------------------------------------------------------- */

.adfy-header {

    display: block;
    position: fixed;
    z-index: 100;
    left: 160px;
    right: 0;
    top: 30px;
    background-color: white;
    padding: 10px 30px;
    border-bottom: 1px solid #EEEEEE;
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.1);

    .adfy-row {

        @include grid();
        grid-template-columns: 160px auto;
        column-gap: 30px;
        align-items: center;
        justify-content: space-between;
    }

    .start {

        .branding {

            .adfy-link {

                display: inline-flex;
                
                img {

                    display: inline-flex;
                    max-width: 100%;
                }
            }
        }
    }

    .end {

        @include flex();
        align-items: center;
        justify-content: flex-end;

        .action-buttons {

            @include flex();
            align-items: center;
            gap: 60px;

            .links {

                @include flex();
                align-items: center;
                gap: 30px;
            }
        }
    }
}