
#recommended-products {

    #recommended-hot-products {

        .adfy-grid {

            @include grid();
            grid-template-columns: repeat(2, 1fr);
            row-gap: 40px;
            column-gap: 40px;

            .adfy-product-card {

                position: relative;
                padding: 35px;
                border-radius: 10px;
                background-color: white;
                box-shadow: 0 0 1px 0 rgba( 0, 0, 0, 0.10 );
                @include transition_delay();

                &:hover {

                    transform: translateY(-10px);
                    box-shadow: 0 0 65px rgba( 0, 0, 0, 0.1 );
                }

                .adfy-category {

                    display: inline-flex;
                    position: absolute;
                    z-index: 10;
                    right: 15px;
                    top: 15px;
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 1;
                    color: #E8AA39;
                    padding: 8px 15px;
                    background-color: #FFF5E3;
                    border-radius: 30px;
                }

                .adfy-product-box {

                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: column;
                    gap: 30px;

                    .adfy-product-thumb {

                        display: block;
                        width: 100%;
                        max-width: 128px;
                        padding: 0;
                        margin: 0;

                        img {

                            display: inline-flex;
                            max-width: 100%;
                        }
                    }

                    .content {

                        display: flex;
                        gap: 20px;
                        flex-wrap: wrap;
                        flex-direction: column;

                        .adfy-product-title {

                            display: block;
                            margin: 0;
                            font-size: 20px;
                            font-weight: normal;
                            line-height: 1.4;
                        }

                        .adfy-product-description {

                            display: block;
                            margin: 0;
                            font-size: 14px;
                            font-weight: normal;
                        }

                        .adfy-product-actions {

                            margin-top: 10px;

                            .el-button {

                                display: inline-flex;
                                align-items: center;
                                justify-content: center;
                                height: auto;
                                line-height: 1;
                                padding: 20px 40px;
                                border-radius: 40px;
                            }
                        }
                    }
                }
            }
        }
    }
}