/* -------------------------------------------------------------------------- 
	#. Fade in
  -------------------------------------------------------------------------- */

@keyframes adfyFloatingCartFadeIn {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 0.4;
    }
    80% {
        opacity: 0.8;
    }
    100% {
        opacity: 1;
    }
}

/* -------------------------------------------------------------------------- 
	#. Fade Down
  -------------------------------------------------------------------------- */

@keyframes adfyFloatingCartFadeDown {
    0% {
        opacity: 0;
        transform: translateY(15px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* -------------------------------------------------------------------------- 
	#. Slide to left
  -------------------------------------------------------------------------- */

@keyframes adfyFloatingCartSlideToLeft {
    from {
        right: -100vw;
        opacity: 0;
    }
    to {
        right: 0;
        opacity: 1;
    }
}

/* -------------------------------------------------------------------------- 
	#. Slide to right
  -------------------------------------------------------------------------- */

@keyframes adfyFloatingCartSlideToRight {

    from {
        right: 0;
        opacity: 1;
    }

    to {
        right: -100vw;
        opacity: 0;
    }
}