/* -------------------------------------------------------------------------- 
	#. Variables
  -------------------------------------------------------------------------- */

:root { 

  // Color

  --adfy_woofc_primary_color: #215bff;
  --adfy_woofc_secondary_color: #6221ff;

  // z-index
  --adfy_woofc_trigger_button_zindex: 10000000;
  --adfy_woofc_overlaymask_zindex: calc( var(--adfy_woofc_trigger_button_zindex) + 10 );   
  --adfy_woo_floating_cart_zindex: calc( var(--adfy_woofc_trigger_button_zindex) + 30 );
}